<div id="instrPrompt" class="modal hide">
    <div class="modal-header"><h3><%=$.i18n.prop(this.header)%></h3></div>
    <div class="modal-body"><%=$.i18n.prop(this.body)%></div>
    <div class="modal-footer">
        <label class="checkbox" align="left"><input type="checkbox" id="chckInst" value="0"><%=$.i18n.prop(this.footer.check)%></input></label>
        <div class="btn btn-success" id="btnYes"><%=$.i18n.prop(this.footer.btnYes)%></div>
        <div class="btn btn-danger" id="btnInstrClose"><%=$.i18n.prop(this.footer.btnClose)%></div>
    </div>
</div>
