<div id="regResult" class="modal hide">
    <div class="modal-header"><h3><%=$.i18n.prop(this.header)%></h3></div>
    <div class="modal-body">
    <p><%=$.i18n.prop(this.body)%></p>
    <% if (this.attributes) { %>
        <ul>
        <% for (el in this.attributes.errors) { %>
        <li><%= $.i18n.prop(this.attributes.errors[el]) %></li>
        <% } %>
        </ul>
    <% } %>
    </div>
    <div class="modal-footer">
        <div class="btn btn-danger" id="<%= this.footer.id %>"><%=$.i18n.prop(this.footer.btnClose)%></div>
    </div>
</div>