<div class="" id="trainingStartPage">
    <% for (var el in this) { %>
        <% if (this[el].type == "button") { %>
            <% var elName = $.i18n.prop(this[el].name) %>
            <a class="btn" id="<%= this[el].id %>"><%= elName %></a>
        <% } else { %>
            <% var elName = $.i18n.prop(this[el].name) %>
            <li class="<%= this[el].id %> subMenu"><a class="btn" id="<%= this[el].id %>" value="<%= this[el].value %>"><%= elName %></a>
                <ul >
                    <% for (var option in this[el].options) { %>
                        <li>
                            <a href="javascript:void(0);" class="" id="<%= this[el].options[option].id %>" value="<%=this[el].options[option].value%>"><%= $.i18n.prop(this[el].options[option].name) %></a>
                        </li>
                    <% } %>
                </ul>
            </li>
        <% } %>
    <% } %>
</div>
