<div id="userSection">
    <div id="accordion">
        <h4>
            <%=this.main.login%>
            <button id="logoutButton" class="btn"><%= $.i18n.prop(this.logout) %></button>
        </h4>
        <div>
            <p><a><%=this.main.email%></a></p>
            <p><%=$.i18n.prop(this.userAge)%><span><%=this.main.age%></span></p>
            <p><%=$.i18n.prop(this.userLocation)%><span><%=this.main.location%></span></p>
        </div>
    </div>
</div>